@model ShopItemViewModel




<form asp-controller="ShopItem" asp-action="Index" method="get" class="form1">
   
    <div class="row mt-3">
        <h5>Модель: </h5>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="Brand" name="Brand">

            @foreach (var item2 in Model.GetBrands)
            {
                <option value="@item2.Name">@item2.Name</option>
            }

        </select>
    </div>

    <div class="row mt-3">
        <h5>Марка:</h5>
        <select class="form-select form-select-sm " aria-label=".form-select-sm example" id="Model" name="Model" @Model.openModel>

            @foreach (var item2 in Model.GetModels)
            {
                <option value="@item2.carModel">@item2.carModel</option>
            }
        </select>
    </div>

    <div class="row mt-3">
        <h5>Номер кузова или рестайлинг:</h5>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="Cartype" name="Cartype" @Model.openType>

            @foreach (var item2 in Model.GetcarType)
            {
                <option value="@item2.cartype">@item2.cartype</option>
            }
        </select>
    </div>
</form>

<div class="d-grid gap-2 col-7 mx-auto mt-3 ">
<a class="btn btn-dark btn-lg" href="/ShopItem/List">Сбросить выбор</a>
</div>

<div class="row mt-5  mb-2" id="cars">
    @foreach (var car in Model.AllCars)
    {

        <div class="col-lg-3 shadow-sm p-3 mb-5 bg-body rounded">
            <h2 class="text-center">@car.Name @car.carModel @car.cartype</h2>
            <img class="img-thumbnail" src="@car.Glasses.img" alt="@car.fullinfo" />
            <p>Размер:@car.size </p>
            <p>Тип кузова: @car.bodytype</p>
            <p>Cтекло: @car.Glasses.typeGlass</p>
            <p>Информация: @car.fullinfo</p>
            <p>Цена: @car.price.ToString("c")</p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropLabel">Купить</button>
        </div>

    }
</div>




<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>


    $(document).ready(function() {

        var clickCounter = 0;
        window.onload = function() {
            document.getElementById("Brand").onclick = function() {
                clickCounter++;
                if (clickCounter == 2) {
                    $(".form1").submit();
                }
            };

            document.getElementById("Model").onclick = function() {
                clickCounter++;
                if (clickCounter == 2) {
                    $(".form1").submit();
                }
            };

            
            document.getElementById("Cartype").onclick = function() {
                clickCounter++;
                if (clickCounter == 2) {
                    $(".form1").submit();
                }
            };
        }
    });



</script>